{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cart</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <th scope="col">Name</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Quantity</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </thead>
      <tbody>
      {% for k, item in session["cart"].items() %}
        <tr>
          <td>{{ item["product_name"] }}</td>
          <td>{{ item["product_price"] * item["quantity"]}} kr</td>
          <form class="" action="{{ url_for('cart_update') }}" method="post">
            <input type="hidden" name="product_id" value="{{ item["product_id"] }}">
            <td><input type="number" name="quantity" value="{{ item["quantity"] }}" min="1"></td>
            <td><button type="submit" class="btn btn-primary" name="button">Update</button></td>
          </form>
          <td><a href="{{ url_for('cart_item_delete', product_id=k) }}" class="btn btn-primary">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <span>Grand total: {{grand_total}}</span>
    <form class="" action="{{ url_for('cart_clear') }}" method="post">
      <input type="hidden" name="form_name" value="clear_cart">
      <button type="sumbit" class="btn btn-danger" name="button">Clear Cart</button>
    </form>
  </body>
</html>
{% endblock %}
